<!DOCTYPE html><!-- Last Published: Tue Jul 04 2023 14:33:27 GMT+0000 (Coordinated Universal Time) -->
<!--suppress ALL -->
<html data-wf-domain="www.hackjunction.com" data-wf-page="645b6a5fe51baa00c313d282"
      data-wf-site="625fe54d569031225e98e49b" lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Junction - Hack the Stupid Hack</title>
    <meta content="Junction is a non-profit hackathon and tech community. We organize hackathons, workshops, and other tech events - around the year and around the world."
          name="description"/>
    <meta content="Junction - Hack the Stupid Hack" property="og:title"/>
    <meta content="Junction is a non-profit hackathon and tech community. We organize hackathons, workshops, and other tech events - around the year and around the world."
          property="og:description"/>
    <meta content="https://uploads-ssl.webflow.com/625fe54d569031225e98e49b/626bbb6f75ee0161832fffb0_Meta%20image.png"
          property="og:image"/>
    <meta content="Junction - Hack the Stupid Hack" property="twitter:title"/>
    <meta content="Junction is a non-profit hackathon and tech community. We organize hackathons, workshops, and other tech events - around the year and around the world."
          property="twitter:description"/>
    <meta content="https://uploads-ssl.webflow.com/625fe54d569031225e98e49b/626bbb6f75ee0161832fffb0_Meta%20image.png"
          property="twitter:image"/>
    <meta property="og:type" content="website"/>
    <meta content="summary_large_image" name="twitter:card"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <link href="https://uploads-ssl.webflow.com/625fe54d569031225e98e49b/css/junction-e35205.webflow.6d2f8d73c.css"
          rel="stylesheet" type="text/css"/>
    <style>@media (min-width: 992px) {
        html.w-mod-js:not(.w-mod-ix) [data-w-id="f1709f0c-21a6-4d9e-45b3-7c68cc0e9aa5"] {
            -webkit-transform: translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
            -moz-transform: translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
            -ms-transform: translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
            transform: translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
            opacity: 0;
        }

        html.w-mod-js:not(.w-mod-ix) [data-w-id="4b3a0503-ae0a-81e8-3eb1-9c45ec45e9e2"] {
            -webkit-transform: translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
            -moz-transform: translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
            -ms-transform: translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
            transform: translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
            opacity: 0;
        }

        html.w-mod-js:not(.w-mod-ix) [data-w-id="eb881a12-8a9e-dfb8-60a3-16ca4a90a9ad"] {
            -webkit-transform: translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
            -moz-transform: translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
            -ms-transform: translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
            transform: translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
            opacity: 0;
        }
    }

    @media (max-width: 991px) and (min-width: 768px) {
        html.w-mod-js:not(.w-mod-ix) [data-w-id="f1709f0c-21a6-4d9e-45b3-7c68cc0e9aa5"] {
            -webkit-transform: translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
            -moz-transform: translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
            -ms-transform: translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
            transform: translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
            opacity: 0;
        }

        html.w-mod-js:not(.w-mod-ix) [data-w-id="4b3a0503-ae0a-81e8-3eb1-9c45ec45e9e2"] {
            -webkit-transform: translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
            -moz-transform: translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
            -ms-transform: translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
            transform: translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
            opacity: 0;
        }

        html.w-mod-js:not(.w-mod-ix) [data-w-id="eb881a12-8a9e-dfb8-60a3-16ca4a90a9ad"] {
            -webkit-transform: translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
            -moz-transform: translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
            -ms-transform: translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
            transform: translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
            opacity: 0;
        }
    }</style>
    <link href="https://fonts.googleapis.com" rel="preconnect"/>
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin="anonymous"/>
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js" type="text/javascript"></script>
    <script type="text/javascript">WebFont.load({google: {families: ["Space Mono:regular"]}});</script>
    <script type="text/javascript">!function (o, c) {
        var n = c.documentElement, t = " w-mod-";
        n.className += t + "js", ("ontouchstart" in o || o.DocumentTouch && c instanceof DocumentTouch) && (n.className += t + "touch")
    }(window, document);</script>
    <link href="https://uploads-ssl.webflow.com/625fe54d569031225e98e49b/626bbe1d5c81c047a6887831_Favicon-32.png"
          rel="shortcut icon" type="image/x-icon"/>
    <link href="https://uploads-ssl.webflow.com/625fe54d569031225e98e49b/626bbe1f8701b559a793bff9_Favicon-256.png"
          rel="apple-touch-icon"/>
    <script defer data-domain="hackjunction.com" src="https://analytics.hackjunction.com/js/plausible.js"></script>
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "Event",
            "name": "Junction 2022",
            "startDate": "2022-11-04T17:00-00:00",
            "endDate": "2022-11-06T23:00-00:00",
            "eventAttendanceMode": "https://schema.org/OfflineEventAttendanceMode",
            "eventStatus": "https://schema.org/EventScheduled",
            "location": {
                "@type": "Place",
                "name": "Dipoli",
                "address": {
                    "@type": "PostalAddress",
                    "streetAddress": "Otakaari 24",
                    "addressLocality": "Espoo",
                    "postalCode": "02150",
                    "addressRegion": "Otaniemi",
                    "addressCountry": "FI"
                }
            },
            "image": [
                "https://assets.website-files.com/625fe54d569031225e98e49b/6267b6ff5d977ba7f48af899_Screenshot%202022-03-31%20at%2012.49%201.png",
                "https://assets.website-files.com/625fe54d569031225e98e49b/6261a7181948121e3882b6e7_headway-F2KRf_QfCqw-unsplash.jpg"
            ],
            "description": "We know you can’t wait. The countdown has already started. See you November 4.-6. fully live again in Dipoli, Espoo!",
            "organizer": {
                "@type": "Organization",
                "name": "Junction",
                "url": "https://teaser.hackjunction.com"
            }
        }
    </script>
    <style>
        /* Blur fixes */
        html, body {
            max-width: 100%;
            overflow-x: hidden;
        }

        body {
            --real-window-height: 100vh;
        }

        .blur-background-area {
            filter: blur(150px);
        }

        /* Select fixes */
        select {
            -webkit-appearance: none;
            -moz-appearance: none;
            text-indent: 1px;
            text-overflow: '';
            position: relative;
            background: none;
        }

        select option {
            background: #0a0a0a;
            color: #fff;
        }

        .select-container {
            position: relative;
        }

        .select-container::after {
            display: block;
            content: '';
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-chevron-down'%3E%3Cpolyline points='6 9 12 15 18 9'%3E%3C/polyline%3E%3C/svg%3E");
            width: 24px;
            height: 24px;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 24px;
            margin: auto;
        }

        /* Nav fixes */
        .nav-menu {
            height: 100vh !important;
            max-height: calc(var(--real-window-height) - 60px) !important;
        }

        /* Grid fixes */
        .grid-3-columns-2-x-1 > *:nth-child(2), .grid-3-columns-1-x-2 > *:nth-child(2), .nav-grid > *:nth-child(2) {
            border-left: none;
        }

        .grid-3-columns-2-x-1 > *:nth-child(2n+3), .grid-3-columns-1-x-2 > *:nth-child(2n+3), .nav-grid > *:nth-child(2n+3) {
            border-top: none;
        }

        .grid-3-columns-2-x-1 > *:nth-child(2n+4), .grid-3-columns-1-x-2 > *:nth-child(2n+4), .nav-grid > *:nth-child(2n+4) {
            border-top: none;
            /*border-left: none;*/
        }
    </style>
    <script>
        function fixSafariBlur() {
            try {
                let isSafari = window.safari || /^((?!chrome|android).)*safari/i.test(navigator.userAgent);

                if (isSafari) {
                    let el = document.createElement('style');
                    el.innerText = '.lottie-animation svg { -webkit-filter: blur(10px); } .blur-background-area { -webkit-backdrop-filter: blur(150px); backdrop-filter: blur(150px); }';
                    document.head.appendChild(el);
                }
            } catch (error) {
                // Something went wrong
            }
        }

        fixSafariBlur();
    </script>
</head>
<body class="body">
<div class="nav-wrapper">
    <div class="nav-menu">
        <div class="nav-subpage-links-container">
            <div class="w-layout-grid nav-grid">
                <div id="w-node-_3e0afe95-1631-46d5-de10-50fecf24b29e-cf24b29a" class="nav-link-container"><a
                        id="w-node-_450528f0-27e2-c0d1-62da-5bdb143a122b-143a122b" href="/" aria-current="page"
                        class="nav-small-link w-inline-block w--current">
                    <div id="w-node-_450528f0-27e2-c0d1-62da-5bdb143a122c-143a122b" class="nav-small-link-text">Home
                    </div>
                    <img src="https://uploads-ssl.webflow.com/625fe54d569031225e98e49b/6260e42088153ddac1f7da70_Vector%201.svg"
                         loading="lazy" id="w-node-_450528f0-27e2-c0d1-62da-5bdb143a122e-143a122b" alt=""
                         class="nav-arrow-image"/></a></div>
                <div id="w-node-_3e0afe95-1631-46d5-de10-50fecf24b2a0-cf24b29a" class="nav-link-container"><a
                        href="/events" class="nav-big-link w-inline-block">
                    <div class="nav-big-link-text">Events</div>
                    <img src="https://uploads-ssl.webflow.com/625fe54d569031225e98e49b/6260e42088153ddac1f7da70_Vector%201.svg"
                         loading="lazy" alt="" class="nav-arrow-image"/></a></div>
                <div id="w-node-_3e0afe95-1631-46d5-de10-50fecf24b2a2-cf24b29a" class="nav-link-container"><a
                        id="w-node-_450528f0-27e2-c0d1-62da-5bdb143a122b-143a122b" href="/our-story"
                        class="nav-small-link w-inline-block">
                    <div id="w-node-_450528f0-27e2-c0d1-62da-5bdb143a122c-143a122b" class="nav-small-link-text">Our
                        story
                    </div>
                    <img src="https://uploads-ssl.webflow.com/625fe54d569031225e98e49b/6260e42088153ddac1f7da70_Vector%201.svg"
                         loading="lazy" id="w-node-_450528f0-27e2-c0d1-62da-5bdb143a122e-143a122b" alt=""
                         class="nav-arrow-image"/></a></div>
                <div id="w-node-_3e0afe95-1631-46d5-de10-50fecf24b2a4-cf24b29a" class="nav-link-container"><a
                        id="w-node-_450528f0-27e2-c0d1-62da-5bdb143a122b-143a122b" href="/team"
                        class="nav-small-link w-inline-block">
                    <div id="w-node-_450528f0-27e2-c0d1-62da-5bdb143a122c-143a122b" class="nav-small-link-text">Team
                    </div>
                    <img src="https://uploads-ssl.webflow.com/625fe54d569031225e98e49b/6260e42088153ddac1f7da70_Vector%201.svg"
                         loading="lazy" id="w-node-_450528f0-27e2-c0d1-62da-5bdb143a122e-143a122b" alt=""
                         class="nav-arrow-image"/></a></div>
                <div id="w-node-_3e0afe95-1631-46d5-de10-50fecf24b2a6-cf24b29a" class="nav-link-container"><a
                        href="/app" class="nav-big-link w-inline-block">
                    <div class="nav-big-link-text">Junction app</div>
                    <img src="https://uploads-ssl.webflow.com/625fe54d569031225e98e49b/6260e42088153ddac1f7da70_Vector%201.svg"
                         loading="lazy" alt="" class="nav-arrow-image"/></a></div>
                <div id="w-node-_3e0afe95-1631-46d5-de10-50fecf24b2a8-cf24b29a" class="nav-link-container"><a
                        id="w-node-_450528f0-27e2-c0d1-62da-5bdb143a122b-143a122b" href="/for-partners"
                        class="nav-small-link w-inline-block">
                    <div id="w-node-_450528f0-27e2-c0d1-62da-5bdb143a122c-143a122b" class="nav-small-link-text">For
                        Partners
                    </div>
                    <img src="https://uploads-ssl.webflow.com/625fe54d569031225e98e49b/6260e42088153ddac1f7da70_Vector%201.svg"
                         loading="lazy" id="w-node-_450528f0-27e2-c0d1-62da-5bdb143a122e-143a122b" alt=""
                         class="nav-arrow-image"/></a></div>
                <div id="w-node-c8762246-33f7-a38d-37b2-53f5ade5d1c0-cf24b29a" class="nav-link-container"><a
                        id="w-node-_450528f0-27e2-c0d1-62da-5bdb143a122b-143a122b" href="https://t.me/+HZOdIpc6MvxhMDM8"
                        class="nav-small-link w-inline-block" target="_blank" >
                    <div id="w-node-_450528f0-27e2-c0d1-62da-5bdb143a122c-143a122b" class="nav-small-link-text">
                        h4cker channel
                    </div>
                    <img src="https://uploads-ssl.webflow.com/625fe54d569031225e98e49b/6260e42088153ddac1f7da70_Vector%201.svg"
                         loading="lazy" id="w-node-_450528f0-27e2-c0d1-62da-5bdb143a122e-143a122b" alt=""
                         class="nav-arrow-image"/></a></div>
            </div>
        </div>
        <div class="nav-social-links-container">
            <div class="nav-social-links-text">Follow us</div>
            <div class="nav-social-links-wrapper">
                <div class="all-social-links">
                    <div class="w-layout-grid social-links-grid"><img
                            src="https://uploads-ssl.webflow.com/625fe54d569031225e98e49b/62679ed622310ae358ac1ff4_facebook-icon.svg"
                            loading="lazy" alt="" class="footer-some"/></a><a href="https://t.me/+HZOdIpc6MvxhMDM8"
                                                                              target="_blank"
                                                                              class="footer-grid-link-container w-inline-block"><img
                            src="https://uploads-ssl.webflow.com/625fe54d569031225e98e49b/628760626fe3bd58fedb6359_Telegram%20Logo%20(1).png"
                            loading="lazy" alt="" class="footer-some"/></a><img
                            src="https://uploads-ssl.webflow.com/625fe54d569031225e98e49b/62679ee6116e532e3d8ed862_instagram-icon.svg"
                            loading="lazy" alt="" class="footer-some"/></a><img
                            src="https://uploads-ssl.webflow.com/625fe54d569031225e98e49b/62679ef232d7d7909d1ab838_linkedin-icon.svg"
                            loading="lazy" alt="" class="footer-some"/></a><img
                            src="https://uploads-ssl.webflow.com/625fe54d569031225e98e49b/62679f0dfa183a37fa498002_twitter-icon.svg"
                            loading="lazy" alt="" class="footer-some"/></a><img
                            src="https://uploads-ssl.webflow.com/625fe54d569031225e98e49b/62679f18545a9039b39e8550_youtube-icon.svg"
                            loading="lazy" alt="" class="footer-some"/></a><img
                            src="https://uploads-ssl.webflow.com/625fe54d569031225e98e49b/62679f01a8182abe1e311ec9_reddit-icon.svg"
                            loading="lazy" alt="" class="footer-some"/></a><img
                            src="https://uploads-ssl.webflow.com/625fe54d569031225e98e49b/62876444a5132f508e09d553_Flickr%20Logo.png"
                            loading="lazy" alt="" class="footer-some"/></a></div>
                </div>
            </div>
        </div>
    </div>
    <div class="nav-bar-wrapper"><a href="/" aria-current="page" class="nav-brand-link w-inline-block w--current"><img
            src="https://uploads-ssl.webflow.com/625fe54d569031225e98e49b/62679d68116e5377b48ecd54_Junction%20Logo.svg"
            loading="lazy" alt="" class="nav-bar-logo"/></a>
        <aside title="Open menu" role="button" data-w-id="3e0afe95-1631-46d5-de10-50fecf24b2b1"
               class="nav-menu-button close"></aside>
        <div title="Open menu" role="button" data-w-id="3e0afe95-1631-46d5-de10-50fecf24b2b2"
             class="nav-menu-button open"></div>
    </div>
</div>
<div class="hero-wrapper">
    <div class="hero-content">
        <div class="hero-background">
            <div data-w-id="2d8498bf-ed85-3286-0123-6cc0e9489300" class="lottie-animation" data-animation-type="lottie"
                 data-src="https://uploads-ssl.webflow.com/625fe54d569031225e98e49b/6267ca3996f70910525a2edd_Junction_Animation_3color.json"
                 data-loop="1" data-direction="1" data-autoplay="1" data-is-ix2-target="0" data-renderer="svg"
                 data-default-duration="40" data-duration="0"></div>
        </div>
        <h1 data-w-id="8d9b19cc-0232-bd4b-eee4-24262cfc9b9d"
            style="-webkit-transform:translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0"
            class="hero-heading">Hack the Stupid Hack</h1>
        <p data-w-id="8d9b19cc-0232-bd4b-eee4-24262cfc9b9f"
           style="-webkit-transform:translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0"
           class="paragraph hero-paragraph">[[SYSTEM OVERRIDE]] Junction, your global tech event coordinator, operates
            numerous technology extravaganzas across the year and around the globe. Even in the digital sphere, our
            reach persists, because that's just our essence.<br/><br/>Lo and behold, we're not here for financial gain.
            We are a non-profit.<br/></p></div>
</div>
<div class="hero-buttons-wrapper">
    <div class="grid-3-columns">
        <div id="w-node-_4b3a0503-ae0a-81e8-3eb1-9c45ec45e9e2-c313d282"
             data-w-id="4b3a0503-ae0a-81e8-3eb1-9c45ec45e9e2">
            <div id="w-node-a0945481-bebf-6cfd-971a-36f50b3c5fae-0b3c5fae"
                 data-w-id="a0945481-bebf-6cfd-971a-36f50b3c5fae" class="cards-large-link"><a href="/app"
                                                                                              class="cards-large-link-link-container w-inline-block">
                <div id="w-node-_5691cce7-b365-b4f8-e521-5b3c901e3cab-0b3c5fae" class="cards-large-link-text">Junction
                    platform
                </div>
                <img id="w-node-_5691cce7-b365-b4f8-e521-5b3c901e3cad-0b3c5fae" loading="lazy"
                     src="https://uploads-ssl.webflow.com/625fe54d569031225e98e49b/6271052f154a0d1e97c2c382_Arrow.svg"
                     alt="" class="cards-large-link-icon"/></a></div>
        </div>
        <div id="w-node-f1709f0c-21a6-4d9e-45b3-7c68cc0e9aa5-c313d282" data-w-id="f1709f0c-21a6-4d9e-45b3-7c68cc0e9aa5">
            <div id="w-node-a0945481-bebf-6cfd-971a-36f50b3c5fae-0b3c5fae"
                 data-w-id="a0945481-bebf-6cfd-971a-36f50b3c5fae" class="cards-large-link"><a
                    href="https://form.typeform.com/to/pxCH1zTv" target="_blank"
                    class="cards-large-link-link-container w-inline-block">
                <div id="w-node-_5691cce7-b365-b4f8-e521-5b3c901e3cab-0b3c5fae" class="cards-large-link-text">become a
                    volunteer
                </div>
                <img id="w-node-_5691cce7-b365-b4f8-e521-5b3c901e3cad-0b3c5fae" loading="lazy"
                     src="https://uploads-ssl.webflow.com/625fe54d569031225e98e49b/6271052f154a0d1e97c2c382_Arrow.svg"
                     alt="" class="cards-large-link-icon"/></a></div>
        </div>
        <div id="w-node-eb881a12-8a9e-dfb8-60a3-16ca4a90a9ad-c313d282" data-w-id="eb881a12-8a9e-dfb8-60a3-16ca4a90a9ad">
            <div id="w-node-a0945481-bebf-6cfd-971a-36f50b3c5fae-0b3c5fae"
                 data-w-id="a0945481-bebf-6cfd-971a-36f50b3c5fae" class="cards-large-link"><a href="/for-partners"
                                                                                              class="cards-large-link-link-container w-inline-block">
                <div id="w-node-_5691cce7-b365-b4f8-e521-5b3c901e3cab-0b3c5fae" class="cards-large-link-text">become a
                    partner
                </div>
                <img id="w-node-_5691cce7-b365-b4f8-e521-5b3c901e3cad-0b3c5fae" loading="lazy"
                     src="https://uploads-ssl.webflow.com/625fe54d569031225e98e49b/6271052f154a0d1e97c2c382_Arrow.svg"
                     alt="" class="cards-large-link-icon"/></a></div>
        </div>
    </div>
</div>
<div class="section">
    <div class="blur-background-area"></div>
    <div class="gradient purple"></div>
    <div class="normal-heading-wrapper"><h3 class="normal-heading">Shattering the void among innovators</h3></div>
    <div class="text-section">
        <div class="text-section-container">
            <div class="rich-text-block w-richtext"><p>Each year, an explosion of events climaxes with our paramount
                assembly, Junction: The hackathon supremo of Europe, assembling more than 1500 cyber wizards for a
                weekend full of tech ecstasy. It's a rendezvous for programmers, design gurus, and tech enthusiasts of
                all types, joining forces to breathe life into novel tech ventures within a thrilling 48-hour sprint.
                Brace yourself, world, we're once again converging on Finland for Junction 2023.<br/></p></div>
        </div>
    </div>
</div>
<div class="showcase-section">
    <div class="grid-4-columns">
        <div id="w-node-_4f81163f-a801-9a2a-b901-0a6e1d0b42f5-c313d282" data-w-id="4f81163f-a801-9a2a-b901-0a6e1d0b42f5"
             style="opacity:0">
            <div id="w-node-_4af913c5-b106-16b0-e837-81abc3e592b2-c3e592b2" class="cards-showcase">
                <div class="cards-showcase-value">8</div>
                <div class="cards-showcase-title">Years</div>
            </div>
        </div>
        <div id="w-node-_674aa178-d4b4-34b3-c7a4-6d1ba3421266-c313d282" data-w-id="674aa178-d4b4-34b3-c7a4-6d1ba3421266"
             style="opacity:0">
            <div id="w-node-_4af913c5-b106-16b0-e837-81abc3e592b2-c3e592b2" class="cards-showcase">
                <div class="cards-showcase-value">2500+</div>
                <div class="cards-showcase-title">Projects created</div>
            </div>
        </div>
        <div id="w-node-_45be82c0-106b-e587-4f7f-e0808b97917c-c313d282" data-w-id="45be82c0-106b-e587-4f7f-e0808b97917c"
             style="opacity:0">
            <div id="w-node-_4af913c5-b106-16b0-e837-81abc3e592b2-c3e592b2" class="cards-showcase">
                <div class="cards-showcase-value">+20K</div>
                <div class="cards-showcase-title">Participants</div>
            </div>
        </div>
        <div id="w-node-_30aa88e7-9820-2125-bd5d-7ea983dfb830-c313d282" data-w-id="30aa88e7-9820-2125-bd5d-7ea983dfb830"
             style="opacity:0">
            <div id="w-node-_4af913c5-b106-16b0-e837-81abc3e592b2-c3e592b2" class="cards-showcase">
                <div class="cards-showcase-value">107</div>
                <div class="cards-showcase-title">Nationalities</div>
            </div>
        </div>
    </div>
</div>
<div class="heading-gradient-wrapper">
    <div class="heading-gradient-background purple"></div>
    <div class="large-link-heading">
        <div class="gap-50px"></div>
        <div id="w-node-_67616311-33c9-6a5a-2cf2-3a3a576ce77a-c313d282" data-w-id="67616311-33c9-6a5a-2cf2-3a3a576ce77a"
             class="large-link-heading-content"><h3 class="normal-heading inside-large-link-container">Upcoming
            Events</h3><a href="/events" class="cto-container w-inline-block">
            <div id="w-node-_67616311-33c9-6a5a-2cf2-3a3a576ce77e-c313d282" class="cto-container-text">all events →
            </div>
        </a></div>
    </div>
</div>
<div class="grid-3-columns-2-x-1"><a data-w-id="756318b2-dcaa-5e93-c9fe-cf0f16bb5c77" href="http://junction2023.com"
                                     target="_blank" class="cards-eventlink w-inline-block">
    <div class="cards-eventlink-content-container">
        <div class="cards-eventlink-top-content">
            <div class="cards-eventlink-pretitle">Upcoming event</div>
            <div class="cards-eventlink-title">Junction 2023</div>
        </div>
        <div class="cards-eventlink-bottom-content">
            <div class="cards-eventlink-date">10.11.–12.11.2023</div>
            <img src="https://uploads-ssl.webflow.com/625fe54d569031225e98e49b/6271052f154a0d1e97c2c382_Arrow.svg"
                 loading="lazy" width="38" alt="" class="eventlink-arrow"/></div>
    </div>
    <div class="cards-eventlink-on-hover-container">
        <div class="cards-eventlink-top-content">
            <div class="on-hover-text">Despite the uncertain future, we see nothing but a bright future, full of
                opportunities to create something amazing. <br/>Soon you join the Junction hackathon 2023 to start
                creating!
            </div>
        </div>
        <div class="cards-eventlink-on-hover-bottom"><img
                src="https://uploads-ssl.webflow.com/625fe54d569031225e98e49b/6260e42088153ddac1f7da70_Vector%201.svg"
                loading="lazy" width="38" alt="" class="eventlink-arrow"/></div>
    </div>
</a><a data-w-id="756318b2-dcaa-5e93-c9fe-cf0f16bb5c77"
       href="https://eu.junctionplatform.com/events/stupid-hack-2023-game-mods" target="_blank"
       class="cards-eventlink w-inline-block">
    <div class="cards-eventlink-content-container">
        <div class="cards-eventlink-top-content">
            <div class="cards-eventlink-pretitle">Upcoming event</div>
            <div class="cards-eventlink-title">Stupid hack 2023<br/>by junction</div>
        </div>
        <div class="cards-eventlink-bottom-content">
            <div class="cards-eventlink-date">11.-12.7.2023</div>
            <img src="https://uploads-ssl.webflow.com/625fe54d569031225e98e49b/6271052f154a0d1e97c2c382_Arrow.svg"
                 loading="lazy" width="38" alt="" class="eventlink-arrow"/></div>
    </div>
    <div class="cards-eventlink-on-hover-container">
        <div class="cards-eventlink-top-content">
            <div class="on-hover-text">We won&#x27;t leave you without our stupid hack this year! It&#x27;s the Game
                Mods edition.
            </div>
        </div>
        <div class="cards-eventlink-on-hover-bottom"><img
                src="https://uploads-ssl.webflow.com/625fe54d569031225e98e49b/6260e42088153ddac1f7da70_Vector%201.svg"
                loading="lazy" width="38" alt="" class="eventlink-arrow"/></div>
    </div>
</a>
    <div id="w-node-_3e502ad8-e970-c142-8d2a-ccaaada4b60a-c313d282" class="cards-image-large-container">
        <div id="w-node-ed00182b-d093-cc4b-e3d3-fe2a6953dd15-6953dd15" class="cards-large-image">
            <div id="w-node-_49591b6c-4ea8-f970-9bb9-6497c5ad130a-c5ad130a" class="dynamic-image"><img
                    src="https://uploads-ssl.webflow.com/625fe54d569031225e98e49b/6267b6ff5d977ba7f48af899_Screenshot%202022-03-31%20at%2012.49%201.png"
                    loading="lazy" alt="" class="dynamic-image-image-element desktop"/><img
                    src="https://uploads-ssl.webflow.com/625fe54d569031225e98e49b/6267b6ff5d977ba7f48af899_Screenshot%202022-03-31%20at%2012.49%201.png"
                    loading="lazy" id="w-node-_49591b6c-4ea8-f970-9bb9-6497c5ad130c-c5ad130a" alt=""
                    class="dynamic-image-image-element mobile"/></div>
        </div>
    </div>
    <a data-w-id="756318b2-dcaa-5e93-c9fe-cf0f16bb5c77" href="https://asia.hackjunction.com/countdown/" target="_blank"
       class="cards-eventlink w-inline-block">
        <div class="cards-eventlink-content-container">
            <div class="cards-eventlink-top-content">
                <div class="cards-eventlink-pretitle">Upcoming event</div>
                <div class="cards-eventlink-title">junctionx asia</div>
            </div>
            <div class="cards-eventlink-bottom-content">
                <div class="cards-eventlink-date">18.-20.08.2023</div>
                <img src="https://uploads-ssl.webflow.com/625fe54d569031225e98e49b/6271052f154a0d1e97c2c382_Arrow.svg"
                     loading="lazy" width="38" alt="" class="eventlink-arrow"/></div>
        </div>
        <div class="cards-eventlink-on-hover-container">
            <div class="cards-eventlink-top-content">
                <div class="on-hover-text">The countdown to HACKATHON - JUNCTION ASIA 2023 has started!<br/>See you at
                    BEXCO in Busan.
                </div>
            </div>
            <div class="cards-eventlink-on-hover-bottom"><img
                    src="https://uploads-ssl.webflow.com/625fe54d569031225e98e49b/6260e42088153ddac1f7da70_Vector%201.svg"
                    loading="lazy" width="38" alt="" class="eventlink-arrow"/></div>
        </div>
    </a><a data-w-id="756318b2-dcaa-5e93-c9fe-cf0f16bb5c77" href="https://budapest.hackjunction.com" target="_blank"
           class="cards-eventlink w-inline-block">
        <div class="cards-eventlink-content-container">
            <div class="cards-eventlink-top-content">
                <div class="cards-eventlink-pretitle">Upcoming events</div>
                <div class="cards-eventlink-title">junctionX Budapest</div>
            </div>
            <div class="cards-eventlink-bottom-content">
                <div class="cards-eventlink-date">24.-26.11.2023</div>
                <img src="https://uploads-ssl.webflow.com/625fe54d569031225e98e49b/6271052f154a0d1e97c2c382_Arrow.svg"
                     loading="lazy" width="38" alt="" class="eventlink-arrow"/></div>
        </div>
        <div class="cards-eventlink-on-hover-container">
            <div class="cards-eventlink-top-content">
                <div class="on-hover-text">Hungary’s largest 48-hour long hackathon where participants team up to create
                    innovative solutions to real-world challenges provided by companies that are open to fresh
                    ideas.<br/>The best teams can win up to € 5,000!
                </div>
            </div>
            <div class="cards-eventlink-on-hover-bottom"><img
                    src="https://uploads-ssl.webflow.com/625fe54d569031225e98e49b/6260e42088153ddac1f7da70_Vector%201.svg"
                    loading="lazy" width="38" alt="" class="eventlink-arrow"/></div>
        </div>
    </a></div>
<div class="heading-normal-wrapper">
    <div class="normal-heading-wrapper"><h3 class="normal-heading purple">Intrigued by the notion of a digital
        alliance?</h3></div>
</div>
<div class="text-section">
    <div class="text-section-container">
        <div class="rich-text-block w-richtext"><p>Hackathons can unleash an array of benefits for corporations. If
            you're ready to dive deep into your enterprise's requirements, just launch a digital missive our way!</p>
        </div>
    </div>
</div>
<div class="form-wrapper">
    <div class="message-form-container">
        <div class="w-form">
            <form id="email-form" name="email-form" data-name="Email Form"
                  action="https://europe-west3-bou-junction-connector.cloudfunctions.net/sendMail" method="post"
                  class="message-form-grid" data-wf-page-id="645b6a5fe51baa00c313d282"
                  data-wf-element-id="4b69993b-542b-b132-12dc-d17548ea1911">
                <div id="w-node-_4b69993b-542b-b132-12dc-d17548ea1912-48ea190e" class="form-field-container"><input
                        type="text" class="form-field w-input" maxlength="256" name="First-Name" data-name="First Name"
                        placeholder="First name" id="First-Name-3" required=""/></div>
                <div id="w-node-_4b69993b-542b-b132-12dc-d17548ea1914-48ea190e" class="form-field-container"><input
                        type="text" class="form-field w-input" maxlength="256" name="Last-Name" data-name="Last Name"
                        placeholder="Last name" id="Last-Name-3" required=""/></div>
                <div id="w-node-_4b69993b-542b-b132-12dc-d17548ea1916-48ea190e" class="form-field-container"><input
                        type="email" class="form-field w-input" maxlength="256" name="Email" data-name="Email"
                        placeholder="Email" id="Email-6" required=""/></div>
                <div id="w-node-_4b69993b-542b-b132-12dc-d17548ea1918-48ea190e" class="form-field-container"><input
                        type="text" class="form-field w-input" maxlength="256" name="Company" data-name="Company"
                        placeholder="Company" id="Company-3"/></div>
                <div id="w-node-_4b69993b-542b-b132-12dc-d17548ea191a-48ea190e" class="form-field-container"><input
                        type="text" class="form-field w-input" maxlength="256" name="Message" data-name="Message"
                        placeholder="Type your message..." id="Message-3" required=""/></div>
                <div id="w-node-_4b69993b-542b-b132-12dc-d17548ea191c-48ea190e" class="form-field-container"><input
                        type="submit" value="" data-wait="" class="submit-button w-button"/><img loading="lazy"
                                                                                                 src="https://uploads-ssl.webflow.com/625fe54d569031225e98e49b/6271052f154a0d1e97c2c382_Arrow.svg"
                                                                                                 alt=""
                                                                                                 class="submit-button-overlay"/>
                </div>
            </form>
            <div class="success-message w-form-done">
                <div>Thank you! Your submission has been received!</div>
            </div>
            <div class="error-message w-form-fail">
                <div>Oops! Something went wrong while submitting the form.</div>
            </div>
        </div>
    </div>
</div>
<div class="gap-50px"></div>
<div class="heading-normal-wrapper">
    <div class="normal-heading-wrapper"><h3 class="normal-heading red">Stay up to date</h3></div>
</div>
<div class="text-section">
    <div class="text-section-container">
        <div class="rich-text-block w-richtext"><p><a href="https://t.me/+ybbxzy78bm1kOTQ0">
            Initiate your journey through the maze by infiltrating our Telegram infochannel.</a> The critical next move?
            Penetrate our newsletter subscription – it's your key to unlock deeper mysteries, and snatch real-time
            updates about the dynamic shifts within the Junction community.</p></div>
    </div>
</div>
<div class="form-wrapper">
    <div class="message-form-container">
        <div class="w-form">
            <form id="email-form" name="email-form" data-name="Email Form"
                  action="first" method="post"
                  class="subscribe-form-grid" data-wf-page-id="645b6a5fe51baa00c313d282"
                  data-wf-element-id="208a35c2-5cbc-3da9-3a87-eeb4e69b3f65">
                <div id="w-node-_208a35c2-5cbc-3da9-3a87-eeb4e69b3f66-e69b3f62" class="form-field-container"><input
                        type="email" class="form-field w-input" maxlength="256" name="SubEmail" data-name="SubEmail"
                        placeholder="Email" id="SubEmail" required=""/></div>
                <div id="w-node-_208a35c2-5cbc-3da9-3a87-eeb4e69b3f68-e69b3f62"
                     class="form-field-container select-container"><select id="SubCountry" name="SubCountry"
                                                                           data-name="SubCountry"
                                                                           class="form-field w-select">
                    <option value="">Select one...</option>
                    <option value="Europe">Europe</option>
                    <option value="Asia">Asia</option>
                    <option value="Africa">Africa</option>
                    <option value="Oceania">Oceania</option>
                    <option value="North America">North America</option>
                    <option value="South America">South America</option>
                    <option value="Hack Me">Hack Me</option>
                </select></div>
                <div id="w-node-_208a35c2-5cbc-3da9-3a87-eeb4e69b3f6a-e69b3f62" class="form-field-container"><input
                        type="submit" value="" data-wait="" class="submit-button red w-button"/><img loading="lazy"
                                                                                                     src="https://uploads-ssl.webflow.com/625fe54d569031225e98e49b/6271052f154a0d1e97c2c382_Arrow.svg"
                                                                                                     alt=""
                                                                                                     class="submit-button-overlay red"/>
                </div>
            </form>
            <div class="success-message w-form-done">
                <div>Thank you! Your submission has been received!</div>
            </div>
            <div class="error-message w-form-fail">
                <div>Oops! Something went wrong while submitting the form.</div>
            </div>
        </div>
    </div>
</div>
<div class="gap-50px"></div>
<div class="gap-50px"></div>
<div class="grid-3-columns squares on-imagelinks">
    <div id="w-node-_52ccbd68-973e-6ea8-23ab-30f2b8dd6cf6-b8dd6cf5" data-w-id="52ccbd68-973e-6ea8-23ab-30f2b8dd6cf6"><a
            data-w-id="152e5b46-20ad-36fd-46a4-3184efc72f8d" href="/for-partners"
            class="cards-imagelink w-inline-block">
        <div class="cards-imagelink-content-container">
            <div class="imagelink-content">
                <div class="cards-imagelink-top-content">
                    <div class="cards-eventlink-title">For partners</div>
                </div>
                <div class="cards-imagelink-bottom-content">
                    <div></div>
                    <img src="https://uploads-ssl.webflow.com/625fe54d569031225e98e49b/6271052f154a0d1e97c2c382_Arrow.svg"
                         loading="lazy" width="38" alt="" class="eventlink-arrow"/></div>
            </div>
            <img src="https://uploads-ssl.webflow.com/625fe54d569031225e98e49b/6267b7e80e7233c3e445f345_Screenshot%202022-03-30%20at%2016.13%201%20(3).png"
                 loading="lazy" alt="" class="bg-img on-image-link"/></div>
        <div class="cards-imagelink-on-hover-content">
            <div class="cards-imagelink-on-hover-top">
                <div class="on-hover-text">Junction&#x27;s events could be the perfect fit for your brand. Come partner
                    with us!
                </div>
            </div>
            <div class="cards-imagelink-on-hover-bottom"><img
                    src="https://uploads-ssl.webflow.com/625fe54d569031225e98e49b/6260e42088153ddac1f7da70_Vector%201.svg"
                    loading="lazy" width="38" alt="" class="eventlink-arrow"/></div>
        </div>
    </a></div>
    <div id="w-node-_52ccbd68-973e-6ea8-23ab-30f2b8dd6cf8-b8dd6cf5" data-w-id="52ccbd68-973e-6ea8-23ab-30f2b8dd6cf8"><a
            data-w-id="152e5b46-20ad-36fd-46a4-3184efc72f8d" href="https://form.typeform.com/to/pxCH1zTv"
            target="_blank" class="cards-imagelink w-inline-block">
        <div class="cards-imagelink-content-container">
            <div class="imagelink-content">
                <div class="cards-imagelink-top-content">
                    <div class="cards-eventlink-title">Become a volunteer</div>
                </div>
                <div class="cards-imagelink-bottom-content">
                    <div></div>
                    <img src="https://uploads-ssl.webflow.com/625fe54d569031225e98e49b/6271052f154a0d1e97c2c382_Arrow.svg"
                         loading="lazy" width="38" alt="" class="eventlink-arrow"/></div>
            </div>
            <img src="https://uploads-ssl.webflow.com/625fe54d569031225e98e49b/6267b8072c0e73f27f242599_Screenshot%202022-03-30%20at%2016.13%201%20(1).png"
                 loading="lazy" alt="" class="bg-img on-image-link"/></div>
        <div class="cards-imagelink-on-hover-content">
            <div class="cards-imagelink-on-hover-top">
                <div class="on-hover-text">Volunteers are the most vital part of this enterprise. We need you in our
                    crew!
                </div>
            </div>
            <div class="cards-imagelink-on-hover-bottom"><img
                    src="https://uploads-ssl.webflow.com/625fe54d569031225e98e49b/6260e42088153ddac1f7da70_Vector%201.svg"
                    loading="lazy" width="38" alt="" class="eventlink-arrow"/></div>
        </div>
    </a></div>
    <div id="w-node-_52ccbd68-973e-6ea8-23ab-30f2b8dd6cfa-b8dd6cf5" data-w-id="52ccbd68-973e-6ea8-23ab-30f2b8dd6cfa"><a
            data-w-id="152e5b46-20ad-36fd-46a4-3184efc72f8d" href="/app" class="cards-imagelink w-inline-block">
        <div class="cards-imagelink-content-container">
            <div class="imagelink-content">
                <div class="cards-imagelink-top-content">
                    <div class="cards-eventlink-title">Sign in to junction app</div>
                </div>
                <div class="cards-imagelink-bottom-content">
                    <div></div>
                    <img src="https://uploads-ssl.webflow.com/625fe54d569031225e98e49b/6271052f154a0d1e97c2c382_Arrow.svg"
                         loading="lazy" width="38" alt="" class="eventlink-arrow"/></div>
            </div>
            <img src="https://uploads-ssl.webflow.com/625fe54d569031225e98e49b/6261a7181948121e3882b6e7_headway-F2KRf_QfCqw-unsplash.jpg"
                 loading="lazy" alt="" sizes="(max-width: 767px) 99vw, (max-width: 991px) 33vw, 326.296875px"
                 srcset="https://uploads-ssl.webflow.com/625fe54d569031225e98e49b/6261a7181948121e3882b6e7_headway-F2KRf_QfCqw-unsplash-p-500.jpeg 500w, https://uploads-ssl.webflow.com/625fe54d569031225e98e49b/6261a7181948121e3882b6e7_headway-F2KRf_QfCqw-unsplash-p-800.jpeg 800w, https://uploads-ssl.webflow.com/625fe54d569031225e98e49b/6261a7181948121e3882b6e7_headway-F2KRf_QfCqw-unsplash-p-1080.jpeg 1080w, https://uploads-ssl.webflow.com/625fe54d569031225e98e49b/6261a7181948121e3882b6e7_headway-F2KRf_QfCqw-unsplash-p-1600.jpeg 1600w, https://uploads-ssl.webflow.com/625fe54d569031225e98e49b/6261a7181948121e3882b6e7_headway-F2KRf_QfCqw-unsplash.jpg 1773w"
                 class="bg-img on-image-link"/></div>
        <div class="cards-imagelink-on-hover-content">
            <div class="cards-imagelink-on-hover-top">
                <div class="on-hover-text">Junction App has everything you need to organize your very own hackathon.
                </div>
            </div>
            <div class="cards-imagelink-on-hover-bottom"><img
                    src="https://uploads-ssl.webflow.com/625fe54d569031225e98e49b/6260e42088153ddac1f7da70_Vector%201.svg"
                    loading="lazy" width="38" alt="" class="eventlink-arrow"/></div>
        </div>
    </a></div>
</div>
<div class="footer">
    <div class="footer-container">
        <div class="w-layout-grid footer-topgrid">
            <div id="w-node-cbf5f580-84b8-65a2-a1d0-43e2c5ae6cb0-c5ae6cad" class="footer-grid-link-container"><a
                    href="/our-story" class="footer-link">About</a></div>
            <div id="w-node-cbf5f580-84b8-65a2-a1d0-43e2c5ae6cb3-c5ae6cad" class="footer-grid-link-container"><a
                    href="/events" class="footer-link">Events</a></div>
            <div id="w-node-cbf5f580-84b8-65a2-a1d0-43e2c5ae6cb6-c5ae6cad" class="footer-grid-link-container"><a
                    id="w-node-_42f34bfc-3426-1661-087e-5768ab012751-c5ae6cad" href="/" aria-current="page"
                    class="w-inline-block w--current"><img
                    src="https://uploads-ssl.webflow.com/625fe54d569031225e98e49b/62679d68116e5377b48ecd54_Junction%20Logo.svg"
                    loading="lazy" width="249" id="w-node-cbf5f580-84b8-65a2-a1d0-43e2c5ae6cb7-c5ae6cad" alt=""
                    class="footer-logo"/></a></div>
            <div id="w-node-cbf5f580-84b8-65a2-a1d0-43e2c5ae6cb8-c5ae6cad" class="footer-grid-link-container"><a
                    href="/for-partners" class="footer-link">For Partners</a></div>
            <div id="w-node-cbf5f580-84b8-65a2-a1d0-43e2c5ae6cbb-c5ae6cad" class="footer-grid-link-container"><a
                    href="/app" class="footer-link">Sign in</a></div>
        </div>
        <div class="footer-social-links-wrapper">
            <div class="all-social-links">
                <div class="w-layout-grid social-links-grid"><img
                        src="https://uploads-ssl.webflow.com/625fe54d569031225e98e49b/62679ed622310ae358ac1ff4_facebook-icon.svg"
                        loading="lazy" alt="" class="footer-some"/></a><a href="https://t.me/+HZOdIpc6MvxhMDM8"
                                                                          target="_blank"
                                                                          class="footer-grid-link-container w-inline-block"><img
                        src="https://uploads-ssl.webflow.com/625fe54d569031225e98e49b/628760626fe3bd58fedb6359_Telegram%20Logo%20(1).png"
                        loading="lazy" alt="" class="footer-some"/></a><img
                        src="https://uploads-ssl.webflow.com/625fe54d569031225e98e49b/62679ee6116e532e3d8ed862_instagram-icon.svg"
                        loading="lazy" alt="" class="footer-some"/></a><img
                        src="https://uploads-ssl.webflow.com/625fe54d569031225e98e49b/62679ef232d7d7909d1ab838_linkedin-icon.svg"
                        loading="lazy" alt="" class="footer-some"/></a><img
                        src="https://uploads-ssl.webflow.com/625fe54d569031225e98e49b/62679f0dfa183a37fa498002_twitter-icon.svg"
                        loading="lazy" alt="" class="footer-some"/></a><img
                        src="https://uploads-ssl.webflow.com/625fe54d569031225e98e49b/62679f18545a9039b39e8550_youtube-icon.svg"
                        loading="lazy" alt="" class="footer-some"/></a><img
                        src="https://uploads-ssl.webflow.com/625fe54d569031225e98e49b/62679f01a8182abe1e311ec9_reddit-icon.svg"
                        loading="lazy" alt="" class="footer-some"/></a><img
                        src="https://uploads-ssl.webflow.com/625fe54d569031225e98e49b/62876444a5132f508e09d553_Flickr%20Logo.png"
                        loading="lazy" alt="" class="footer-some"/></a></div>
            </div>
        </div>
    </div>
</div>
<script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8.js?site=625fe54d569031225e98e49b"
        type="text/javascript" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
        crossorigin="anonymous"></script>
<script src="https://uploads-ssl.webflow.com/625fe54d569031225e98e49b/js/webflow.e288731b6.js"
        type="text/javascript"></script>
<script>
    function setRealWindowHeight(height) {
        if (document.body) {
            document.body.style.setProperty('--real-window-height', height + 'px');
        }
    }

    function initiateWindowResizeListener() {
        setRealWindowHeight(window.innerHeight);
        window.addEventListener('resize', () => {
            setRealWindowHeight(window.innerHeight);
        });
    }

    initiateWindowResizeListener();
    window.lintrk("track")
    {
        conversion_id: 9420882
    }

    ;
    window.lintrk("track",
        {
            conversion_id: 9420890
        }
    )
    ;
</script>
</body>
</html>